
/* B Nazanin
======================================== */
@font-face{
	font-family: 'Nazanin';
	src: url("persian_fonts/B Nazanin.otf"), url("persian_fonts/B Nazanin.ttf");
	font-style: normal;
   font-weight: normal;
}
