.forget_password_form_container{
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: #F4EBEB;
    padding: 50px;
    border-radius: 5px;
}

.forget_password_title{
    font-size: 20px;
}

.forget_password{
    padding: 40px 0px;
}

.forget_email{
    color: #111;
    direction: ltr !important;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid #E1CBCB;
    width: 200px;
    font-size: 15px;
}

.forget_email:focus{
    border-bottom: 1px solid #C5A9A9;
}

.forget_submit{
    border: none;
    background-color: #FF4242;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    margin: 20px 0px;
}
