/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url("fonts/fonts.css");

*{
    font-family: 'Nazanin', 'Oswald', sans-serif;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height: 1.5;
}

img{
    vertical-align: top;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

::-moz-selection {
    background-color: #FBFFB2;
    color: #000;
    outline: none;
}

::selection {
    background-color: #FBFFB2;
    color: #000;
    outline: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
/* END HTML5 DOCTOR */


/* 404 PAGE */
.container_404{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #fefefe;
    text-align: center;
    padding: 300px;
    font-size: 100px;
}

.container_404 p{
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 576px) {

}

/* END 404 PAGE */


/* NAVBAR */
.nav_logo{
    width: 30px;
    padding: 15px 20px 0px 0px;
}

.top_navbar{
    overflow: auto;
    white-space: nowrap;
    background-color: #1D252A;
}

.top_navbar_link{
    top: 30px;
    right: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: #fefefe;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.top_navbar_link:hover{
    color: #c1c1c1;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .top_navbar_link{
        font-size: 15px;
    }
    .nav_logo{
        width: 20px;
    }
}

/* END NAVBAR */

/* FOOTER */
.footer_container{
    background-color: #090E10;
    padding: 50px;
}

.footer_links_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin: auto;
}

.footer_links{
    padding: 0px 10px;
    display: inline-block;
    text-decoration: none;
    color: #fefefe;
    transition: all .2s linear;
}

.copyright{
    max-width: 550px;
    margin: auto;
    color: #fefefe;
    text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 20px;
    border-bottom: 1px solid #222;
}

.go_up{
    color: #fefefe;
    font-size: 20px;
    background-color: #000;
    padding: 5px 15px;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    transition: all .3s linear;
}

.go_up:hover{
    background-color: #fefefe;
    color: #000;
}

.footer_logo{
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .footer_links{
        display: none;
    }

    .copyright{
        font-size: 16px;
    }
}

/* END FOOTER */

/* PAGINATION */
.pagination_container{
    text-align: center;
    padding: 40px;
}

.pagination_link{
    border-radius: 2px;
    background-color: #000;
    display: inline-block;
    text-decoration: none;
    color: #fefefe;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    transition: all .2s linear;
}

.pagination_link:hover{
    background-color: #fefefe;
    color: #000;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .pagination_link{
        margin: 5px;
        padding: 6px 14px;
        font-size: 15px;
    }
}
/* END PAGINATION */
